@media screen and (max-width:544px){
    button {
        font-size: 20px;
        padding: 10px 40px;
      }

    .title {
    font-size: 32px;
    }

    .textbox {
    padding: 10px 30px;
    }
    
    .smallBtn{
      padding: 10px 10px;
    }
}