@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
}

/* text */

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.any_Texts {
  display: flex;
  align-items: flex-end;
  height: 50vh;
}

.title {
  font-size: 48px;
  text-align: center;
}

.select_text {
  text-align: center;
  margin: 30px 0px;
}

.result_text {
  font-size: 60px;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.input_Name {
  display: none;
  justify-content: space-around;
}

.error_text {
  text-align: center;
  color: red;
  margin: 0px 0px 15px 0px;
}

/* button */

.any_buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}

button {
  padding: 10px 50px;
  margin: 0px 20px;
  border: #707070 1px solid;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 20px;
  transition: all 0.2s;
}

/* button additional elements */

button:hover {
  background-color: #eae8e8;
}

.decision_button {
  display: none;
  border: #00ced1 1px solid;
}

.add_textbox_button {
  display: none;
  border: #00f3b0 1px solid;
}

.back_button {
  display: none;
}

.explanation_btn {
  padding: 0px 10px;
  margin: 0px 80px;
}

/* textbox */

.textbox {
  display: none;
  padding: 10px 50px;
  margin: 25px 20px;
  border: #707070 1px solid;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 20px;
  transition: all 0.2s;
  text-align: center;
  color: #707070;
}

/* textbox additional elements */

.textbox:focus {
  outline: none;
  border: #00f3b0 1px solid;
}

.textbox:focus::-webkit-input-placeholder {
  color: transparent;
}

.input_Name {
  display: flex;
  flex-direction: column;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}