@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
}

/* text */
.anyTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 48px;
  text-align: center;
}

.select_text {
  text-align: center;
  margin: 30px 0px;
}

.result_text {
  font-size: 60px;
  margin: 0px 0px 50px 0px;
}

/* button */
.anyButtons {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}

button {
  padding: 10px 50px;
  margin: 0px 20px;
  border: #707070 1px solid;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 20px;
  transition: all 0.2s;
}

button:hover {
  background-color: #eae8e8;
}

/* 決定ボタンを非表示 */
.DecisionButton {
  display: none;
}
/* 戻るボタンを非表示 */
.backButton {
  display: none;
}

/* textbox */
.textbox {
  /* textboxを非表示 */
  display: none;
  padding: 10px 50px;
  margin: 25px 20px;
  border: #707070 1px solid;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 20px;
  transition: all 0.2s;
  text-align: center;
  color: #707070;
}
.textbox:focus {
  outline: none;
}
.textbox:focus::-webkit-input-placeholder {
  color: transparent;
}
